In [2]:
# how can i check, ob der gewählte Name akzeptable ist.

print("2a".isidentifier())
print("_e3".isidentifier())
print("Class".isidentifier())
print("m@".isidentifier())
print("if".isidentifier())

False
True
True
False
True

In [11]:
s="python"
print(len(s))
print(s.islower())
print(s.isupper())
print(s.upper())
print(s.find("y"))
print(s.count("y"))

6
True
False
PYTHON
1
1

In [27]:
f="fatemeh"
print(len(f))
print(f.find("e"))
print(f.count("e"))
print(f.islower())
print(f.isupper())
print(f.upper())
print(f.isalpha())
print(f.isdigit()) 
print(f.ljust(10,"-"))
print(f.startswith("py"))
print(f.replace("fate","1234"))

7
3
2
True
False
FATEMEH
True
False
fatemeh---
False
1234meh

In [69]:
a = 2
b = 2/3
print(f"addad A barabar ast ba {a} va adad a + b hast {a+b}")
c = (f"{a} + {b}")
c

addad A barabar ast ba 2 va adad a + b hast 2.6666666666666665

'2 + 0.6666666666666666'

In [81]:
# append
e=[6,3,12,98]
f=[9,14,17,97]
e.append(f)
print(e)
e.append(90)
print(e)
print(len(e))

[6, 3, 12, 98, [9, 14, 17, 97]]
[6, 3, 12, 98, [9, 14, 17, 97], 90]
6

In [80]:
#extend as append
q=[8,3,19,4]
u=[8,2,6,98,12]
q.extend(u)
print(q)
print(len(q))

[8, 3, 19, 4, 8, 2, 6, 98, 12]
9

In [83]:
a=[9,12,64,754,13]
for i in range(3):
    a.append(i)
print(a)

[9, 12, 64, 754, 13, 0, 1, 2]

In [85]:
# important
a=[i for i in range(7)]
print(a)

[0, 1, 2, 3, 4, 5, 6]

In [88]:
a=[]
for i in range(7):
    a.append(i)

print(a)

[0, 1, 2, 3, 4, 5, 6]

In [90]:
grade=[7,12,19,20,14,10]
a=[i for i in grade if i>10]
print(a)

[12, 19, 20, 14]

In [91]:
grade1=[9,13,8,14,17,20]
a=[]
for i in grade1:
    if i>10:
        a.append(i)

print(a)

[13, 14, 17, 20]

In [95]:
g2=[6,14,19,20,4,7,18]

a=[i for i in g2 if i>10]
print(a)

[14, 19, 20, 18]

In [35]:
a="mohsen"
print(f"name : {a}" )
print("name :",a)
print("name: "+a+"  salam")

name : mohsen
name : mohsen
name: mohsen  salam

In [37]:
a="fatemeh"
b="abouhassani"
print(f"name: {a.title()} , lastname: {b.title()} ")

name: Fatemeh , lastname: Abouhassani

In [3]:
# how can i check, ob ein Name keyword ist.

from keyword import iskeyword
print(iskeyword("if"))
print(iskeyword("class"))

True
True

In [9]:
import math

print(math.sqrt(16))
print(math.factorial(4))
print(math.pow(5,2)) 
print(math.pi)
print(math.fabs(-98))

4.0
24
25.0
3.141592653589793
98.0

In [18]:
import random

print(random.randint(1,8495)) 
print(random.choice([1,10])) # python wählt 1 or 10

3038
10

In [20]:
import datetime
now=datetime.datetime.now()
print(now)

2024-07-14 22:02:29.792230

In [ ]:
a=3
b=8
if a<b:
    m=a
else:
    m=b

In [ ]:
# conditional expression

m=a if a<b else b

In [24]:
grade=2
s="fail" if grade<10 else "pass"
print(s)

fail

In [26]:
today="holiday"
money=90

if today == "holiday":
    if money>50:
        print("shopping")
    else:
        print("watch TV")

else:
    print("normal working day")

shopping

In [28]:
score=7
if score >=90:
    print("A")

elif score >=80:
    print("B")

elif score >=70:
    print("C")

elif score >=60:
    print("D")

else:
    print("fail")

fail

In [36]:
for i in range (3):
    print(i, end="  ")

0  1  2

In [41]:
for j in range(6,11,3):
    print(j) # 6 to 11 and step=3

6
9

In [38]:
for _ in range(3):
    print("hello", end="  ")

hello  hello  hello

In [45]:
for i in range(2,5):
    for j in range(1,i):
        print(j, end= " ")
    print()

1
1 2
1 2 3

In [48]:
# break
for i in range(6):
    if i==4:
        break
    else:
        print(i, end=" ")

0 1 2 3

In [53]:
for i in range (6):
    if i==2:
        continue
    else:
        print(i, end=" ")

0 1 3 4 5

In [55]:
#while

i=1
while i<=4:
    print(i,end=" ")
    i += 1

1 2 3 4

In [57]:
n=9
while n>2:
    n-=1
    if n==4:
        continue
    print(n, end=" ")

8 7 6 5 3 2

In [68]:
n=10
while n>1:
    n-=1
    if n==4:
        break
    print(n, end=" ")

9 8 7 6 5

In [41]:
# list
a=[8,2,12]
print(type(a))
print(len(a))
print(a.index(2))
print(a[1])

<class 'list'>
3
1
2

In [46]:
child=["sara","mahsa"]
for i in child:
    print(i, end="  " )

sara  mahsa

In [57]:
numbers=[1,2,3,4,5]
for i in numbers:
    print(i, end="  ")
print("------")
n=[4,6,8,12]
for j in range(len(n)):
    print(n[j], end="  ")

1  2  3  4  5  ------
4  6  8  12

In [70]:
m=[34,24,8,9,12]
print(max(m))
print(min(m))
print(sum(m))
m.remove(12)
print(m)
m.pop()
print(f'm.pop(): {m}') # remove last item
m.pop(0)
print(m)

34
8
87
[34, 24, 8, 9]
m.pop(): [34, 24, 8]
[24, 8]

In [ ]:
y=[8,12,7,]

In [4]:
# tuple
t=("english","art","mathematics")
# t.append("algebra")
# print(t)  ....> error

In [11]:
t1=("english","art","mathematics")
print(len(t1))
print(t1[0])
print(t1[0].title())
print(t1)

3
english
English
('english', 'art', 'mathematics')

In [20]:
t=(15,7,98,1)
print(t[1])
print(t[3])
print(t.index(1))
print(15 in t)
print(sum(t))
print(max(t))
print(min(t))
print(3 in t)

7
1
3
True
121
98
1
False

In [28]:
# 1. tuple to list 2. append 3. list to tuple
t1=(1,2)
print(t1)

a=list(t)
print(a)

a.append(7)
print(a)

b=tuple(a)
print(b)

(1, 2)
[15, 7, 98, 1]
[15, 7, 98, 1, 7]
(15, 7, 98, 1, 7)

In [30]:
t2=(6,8,23)
# t2.append
# print(t2)

# output: error

In [40]:
# how can i use append in tuple

t2=(6,8,23) # tuple
t3=list(t2)
print(t3)
t4=[9,13]
t3.extend(t4)
print(t3)
t3.remove(6)
print(t3)
print(tuple(t3))

[6, 8, 23]
[6, 8, 23, 9, 13]
[8, 23, 9, 13]
(8, 23, 9, 13)

In [55]:
# zip # unzip

x1=(1,2)
y2=("x","y")
z1=zip(x1,y2)
print(list(z1))

[(1, 'x'), (2, 'y')]

In [56]:
d1={"brand":"b",
    "model": "m",
    "color":"red",
    "year":2020
    }

In [74]:
d2={"x":14,"y":19,"z":9,"w":72,"s":1}
print(f'type(d2): {type(d2)}')
print(f'len(d2): {len(d2)}')
print(f'd2["x"]: {d2["x"]}')
print(f'd2["z"]: {d2["z"]}')

print("len(d2):",len(d2))


print(d2.get("y"))
print(d2.get("x"))  # = d2["x"]

print(list(d2.keys()))
print(list(d2.values()))
print(list(d2.items()))

type(d2): <class 'dict'>
len(d2): 5
d2["x"]: 14
d2["z"]: 9
len(d2): 5
19
14
['x', 'y', 'z', 'w', 's']
[14, 19, 9, 72, 1]
[('x', 14), ('y', 19), ('z', 9), ('w', 72), ('s', 1)]

In [91]:
f1={"x":87,"c":2,"d":6}
import operator
k=operator.itemgetter(1)
print(sorted(f1.items(),key=k))

[('c', 2), ('d', 6), ('x', 87)]

In [93]:
# I have a list of dictionaries and every dictionary contains information about my students. I want to sort the list based on grades.



students=[{"name":"Ali","grade":12},{"name":"sara","grade":10},{"name":"fatemeh","grade":19},{"name":"maryam","grade"
:20}]

from operator import itemgetter

k=itemgetter("grade")
print(sorted(students,key=k))


sort_stu=sorted(students,key=itemgetter("grade"))
print(sort_stu)

[{'name': 'sara', 'grade': 10}, {'name': 'Ali', 'grade': 12}, {'name': 'fatemeh', 'grade': 19}, {'name': 'maryam', 'grade': 20}]
[{'name': 'sara', 'grade': 10}, {'name': 'Ali', 'grade': 12}, {'name': 'fatemeh', 'grade': 19}, {'name': 'maryam', 'grade': 20}]

In [96]:
p1={"name":"Ali","grade":13},{"name":"sara","grade":20},{"name":"fatemeh","grade":12},{"name":"maryam","grade"
:18}

from operator import itemgetter
stu_sort=sorted(p1,key=itemgetter("grade"))
print(stu_sort)

[{'name': 'fatemeh', 'grade': 12}, {'name': 'Ali', 'grade': 13}, {'name': 'maryam', 'grade': 18}, {'name': 'sara', 'grade': 20}]

In [116]:
#combine
d11={"x":3,"y":5,"z":1}
d12={"w":18,"t":99}
dd={}
d11.update(d12)
print(d11)
dd=d11.copy()
print(dd)

{'x': 3, 'y': 5, 'z': 1, 'w': 18, 't': 99}
{'x': 3, 'y': 5, 'z': 1, 'w': 18, 't': 99}

In [127]:
d21={"x":3,"y":5,"z":1}
d22={"w":18,"t":99}

#combine

d22.update(d21)
print(d22)


from operator import itemgetter

sort_d22=print(sorted(d22.items(),key=itemgetter(1)))

{'w': 18, 't': 99, 'x': 3, 'y': 5, 'z': 1}
[('z', 1), ('x', 3), ('y', 5), ('w', 18), ('t', 99)]

In [145]:
d21=[{"name":"x","grade":3},{"name":"y","grade":5},{"name":"z","grade":1}]
d22=[{"name":"w","grade":18},{"name":"t","grade":99},{"name":"n","grade":2},{"name":"b","grade":175}]


from operator import itemgetter
sort_d21=sorted(d21,key=itemgetter("grade"))
print(sort_d21)
sort_d22=sorted(d22,key=itemgetter("grade"))
print(sort_d22)

[{'name': 'z', 'grade': 1}, {'name': 'x', 'grade': 3}, {'name': 'y', 'grade': 5}]
[{'name': 'n', 'grade': 2}, {'name': 'w', 'grade': 18}, {'name': 't', 'grade': 99}, {'name': 'b', 'grade': 175}]

In [151]:
d21=[{"name":"x","grade":3},{"name":"y","grade":5},{"name":"z","grade":1}]
d22=[{"name":"w","grade":18},{"name":"t","grade":99},{"name":"n","grade":2},{"name":"b","grade":175}]

d21.extend(d22)
d21

from operator import itemgetter
sort_d21=sorted(d21,key=itemgetter("grade"))
print(sort_d21)

[{'name': 'z', 'grade': 1}, {'name': 'n', 'grade': 2}, {'name': 'x', 'grade': 3}, {'name': 'y', 'grade': 5}, {'name': 'w', 'grade': 18}, {'name': 't', 'grade': 99}, {'name': 'b', 'grade': 175}]

In [185]:
# 2 lists to dictionary : ##zip


kk=["a","b","c"]
vv=[97,12,3]
kv=zip(kk,vv)
kvdict=dict(kv)

from operator import itemgetter
sort_kv=sorted(kvdict.items(),key=itemgetter(1))
print(dict(sort_kv))

{'c': 3, 'b': 12, 'a': 97}

In [192]:
myfamily={"child1":{"name":"sara","age":24},
          "child2":{"name":"ali","age":12},
          "child3":{"name":"maryam","age":2},
          "child4":{"name":"mohsen","age":30}
          }


from operator import itemgetter

sort_myfamily = sorted(myfamily.values(), key=itemgetter("age"))
sort_myfamily

[{'name': 'maryam', 'age': 2},
 {'name': 'ali', 'age': 12},
 {'name': 'sara', 'age': 24},
 {'name': 'mohsen', 'age': 30}]