In [2]:
# how can i check, ob der gewählte Name akzeptable ist.

print("2a".isidentifier())
print("_e3".isidentifier())
print("Class".isidentifier())
print("m@".isidentifier())
print("if".isidentifier())

False
True
True
False
True

In [11]:
s="python"
print(len(s))
print(s.islower())
print(s.isupper())
print(s.upper())
print(s.find("y"))
print(s.count("y"))

6
True
False
PYTHON
1
1

In [27]:
f="fatemeh"
print(len(f))
print(f.find("e"))
print(f.count("e"))
print(f.islower())
print(f.isupper())
print(f.upper())
print(f.isalpha())
print(f.isdigit()) 
print(f.ljust(10,"-"))
print(f.startswith("py"))
print(f.replace("fate","1234"))

7
3
2
True
False
FATEMEH
True
False
fatemeh---
False
1234meh

In [69]:
a = 2
b = 2/3
print(f"addad A barabar ast ba {a} va adad a + b hast {a+b}")
c = (f"{a} + {b}")
c

addad A barabar ast ba 2 va adad a + b hast 2.6666666666666665

'2 + 0.6666666666666666'

In [35]:
a="mohsen"
print(f"name : {a}" )
print("name :",a)
print("name: "+a+"  salam")

name : mohsen
name : mohsen
name: mohsen  salam

In [37]:
a="fatemeh"
b="abouhassani"
print(f"name: {a.title()} , lastname: {b.title()} ")

name: Fatemeh , lastname: Abouhassani

In [3]:
# how can i check, ob ein Name keyword ist.

from keyword import iskeyword
print(iskeyword("if"))
print(iskeyword("class"))

True
True

In [9]:
import math

print(math.sqrt(16))
print(math.factorial(4))
print(math.pow(5,2)) 
print(math.pi)
print(math.fabs(-98))

4.0
24
25.0
3.141592653589793
98.0

In [18]:
import random

print(random.randint(1,8495)) 
print(random.choice([1,10])) # python wählt 1 or 10

3038
10

In [20]:
import datetime
now=datetime.datetime.now()
print(now)

2024-07-14 22:02:29.792230

In [ ]:
a=3
b=8
if a<b:
    m=a
else:
    m=b

In [ ]:
# conditional expression

m=a if a<b else b

In [24]:
grade=2
s="fail" if grade<10 else "pass"
print(s)

fail

In [26]:
today="holiday"
money=90

if today == "holiday":
    if money>50:
        print("shopping")
    else:
        print("watch TV")

else:
    print("normal working day")

shopping

In [28]:
score=7
if score >=90:
    print("A")

elif score >=80:
    print("B")

elif score >=70:
    print("C")

elif score >=60:
    print("D")

else:
    print("fail")

fail

In [36]:
for i in range (3):
    print(i, end="  ")

0  1  2

In [41]:
for j in range(6,11,3):
    print(j) # 6 to 11 and step=3

6
9

In [38]:
for _ in range(3):
    print("hello", end="  ")

hello  hello  hello

In [45]:
for i in range(2,5):
    for j in range(1,i):
        print(j, end= " ")
    print()

1
1 2
1 2 3

In [48]:
# break
for i in range(6):
    if i==4:
        break
    else:
        print(i, end=" ")

0 1 2 3

In [53]:
for i in range (6):
    if i==2:
        continue
    else:
        print(i, end=" ")

0 1 3 4 5

In [55]:
#while

i=1
while i<=4:
    print(i,end=" ")
    i += 1

1 2 3 4

In [57]:
n=9
while n>2:
    n-=1
    if n==4:
        continue
    print(n, end=" ")

8 7 6 5 3 2

In [68]:
n=10
while n>1:
    n-=1
    if n==4:
        break
    print(n, end=" ")

9 8 7 6 5

In [41]:
# list
a=[8,2,12]
print(type(a))
print(len(a))
print(a.index(2))
print(a[1])

<class 'list'>
3
1
2

In [46]:
child=["sara","mahsa"]
for i in child:
    print(i, end="  " )

sara  mahsa

In [57]:
numbers=[1,2,3,4,5]
for i in numbers:
    print(i, end="  ")
print("------")
n=[4,6,8,12]
for j in range(len(n)):
    print(n[j], end="  ")

1  2  3  4  5  ------
4  6  8  12

In [66]:
m=[34,24,8,9,12]
print(max(m))
print(min(m))
print(sum(m))
m.remove(12)
print(m)
m.pop()
print(m)
m.pop(0)
print(m)

34
8
87
[34, 24, 8, 9]
[34, 24, 8]
[24, 8]

In [ ]:
y=[8,12,7,]