# Tuple
##Tuples are immutable in Python, meaning their elements cannot be modified, added, or removed after they have been created.

In [8]:
t=("math",12,"algebra","physics",16,"19")
print(type(t))
print(t[0][1])
print(t[2])
print(t[:])
print(t[0:3])
print(t[1:10])  # we dont have index 10 but we dont become error

<class 'tuple'>
a
algebra
('math', 12, 'algebra', 'physics', 16, '19')
('math', 12, 'algebra')
(12, 'algebra', 'physics', 16, '19')

#To create a tuple with only one item, you have add a comma after the item

In [11]:
a=2
b=(2)
c=2,    # , is important , when i want to creat a tuple with only one item
d=(2,)
e="s"
f="s",  # tuple
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'str'>
<class 'tuple'>

Length

In [5]:
a= (100,200,300,400,500)
print(len(a))
print(a[len(a)-1])

5
500

Days are immutable then we can use Tuple

In [12]:
Day=("saturday","sunday","monday","tuesday","wendesday","tursday","friday")
count=2
print("today is : ", Day[count])
print(len(Day))
print(Day[len(Day)-1])

today is :  monday
7
friday

# + , * in tuple

In [19]:
a=("Math",("physic1","physic2"),"algebra","arabic")
print(len(a))
print(a[0])
print(a[1][0])
print(a[1][0][2])

b= ("english","farsi")

c= a+b
print(a+b) 

d= b+a
print(d)


# * in Tuples

e=a*2
print(e)

4
Math
physic1
y
('Math', ('physic1', 'physic2'), 'algebra', 'arabic', 'english', 'farsi')
('english', 'farsi', 'Math', ('physic1', 'physic2'), 'algebra', 'arabic')
('Math', ('physic1', 'physic2'), 'algebra', 'arabic', 'Math', ('physic1', 'physic2'), 'algebra', 'arabic')

In [20]:
#tuple with only one item

a=("Hi",)
print(a*5)

('Hi', 'Hi', 'Hi', 'Hi', 'Hi')

# in   not in    Tuples

In [24]:
a=("math",2,"physic",77,98,"english1")
print("math" in a)
print(2 in a)   
print("english1" not in a)

True
True
False

# methods in Tuple 
### name.index(x)
### name.count(x)

In [9]:
a=("c","b","f",33,"m","c","f","33")
print(a.index("c"))
print(a.index("m"))
print(a.count(33))
print(a.count("33"))
print(len(a))

0
4
1
1
8